.shoppingCart{
  border: 3px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.itemTable{
  border: 3px solid blue;
}

.totals{
  border: 3px solid green;
}

.buttonActions{
  border: 3px solid purple;
}
